<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clique Chat</title>
  <link rel="stylesheet"  href="/css/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <ul class="pages">
    <li class="chat page" data-role="content">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <div class="input">
        <!-- <div id="username" class="inputMessage"> Test </div> -->
        <input class="inputMessage" type="text" placeholder="Don't be shy!">
          <div id="username" class="inputMessage"> Test </div>
        </input>
      </div>
    </li>
    <li class="login page">
      <div class="form" >
        <h3 class="title">Choose your secret identity:</h3>
        <input class="usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>
</body>
<script> 
var socket = io();
socket.on('connect', function(){
    socket.emit('test', true); // replace true with friends
});
</script>
</html>