<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Clique Chat" />
    <meta property="og:type" content="website" />
<!--     <meta property="og:url" content="https://scrumpit.herokuapp.com" /> -->
<!--     <meta property="og:image" content="https://scrumpit.herokuapp.com/images/Clique Chat_logo_large.png" />
 -->    <meta property="og:site_name" content="Clique Chat" />
    <meta property="og:description" content="Clique Chat app" />
    <meta property="fb:app_id" content="314522715291696" />
    <title class="col-md-7">Clique Chat</title>
    <link rel="stylesheet"  href="css/jquery.mobile-1.2.0.css" />
    <link rel="stylesheet"  href="css/base.css" />
    <script src="js/jquery.js"></script>
    <!-- <script src="js/jquery.mobile-1.2.0.js"></script> -->
    <script src="js/mustache.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<!-- Facebook JavaScript -->
<div id="fb-root"></div>


<!-- Login page -->
<div data-role="page" id="login" class="type-home">
    <div data-role="content">
        <div id="login-header">
            <img id = "facebook-logo" src="images/facebook_logo.jpg" alt="Facebook" />
            <br>
            <span class="tagline">Anonymous Chat</span>
        </div>
<!--         <img src="http://cdn.lightgalleries.net/4bd5ebf463380/images/Untitled_Panorama4-2.jpg" id="golden-gate"> </img>
 -->        <div id="login-intro">
            <p class="intro">Login using Facebook</p>
        </div>
    </div>
    <div id="login-container">
        <a href="<%- loginUrl %>"><img id="login-button"src="images/fblogin.png"></img></a>

    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 style="font-family:'Roboto Condensed', Arial, san-serif; color: #A0A0A0; text-shadow: 0px 0px #fff;"> Discover your Clique </h2>
                <p style="font-family:'Roboto Condensed', Arial, san-serif; text-shadow: 0px 0px #fff;"> Join rooms where every person is friends with everyone else in the room </p>
            </div>        
            <div class="col-md-4">
                <h2 style="font-family:'Roboto Condensed', Arial, san-serif; color: #A0A0A0; text-shadow: 0px 0px #fff;"> Reconnect with Friends </h2>
                <p style="font-family:'Roboto Condensed', Arial, san-serif; text-shadow: 0px 0px #fff;"> Chat anonymously with Facbeook friends with a fun username</p>
            </div>
            <div class="col-md-4">
                <h2 style="font-family:'Roboto Condensed', Arial, san-serif; color: #A0A0A0; text-shadow: 0px 0px #fff;"> Meet new people </h2>
                <p style="font-family:'Roboto Condensed', Arial, san-serif; text-shadow: 0px 0px #fff;"> If none of your friends are in a room, wait in a new room for your friends for 1 min; if none join, you will automatically be placed in a room with a user! </p>
            </div>
        </div>
    </div>
    <footer class="footer-docs">
        <p style="font-family:'Roboto Condensed', Arial, san-serif; color: #A0A0A0; text-shadow: 0px 0px #fff;"> @ <a href="https://github.com/jodreen">Jordeen Chang</a> and <a href="https://github.com/vincenttian">Vincent Tian</a></p>
    </footer>
</div>


  </body>
</html>