<DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1">
 -->   
    <meta property="og:title" content="Clique Chat" />
    <meta property="og:type" content="website" />
     <meta property="og:site_name" content="Scrumptious" />

    <meta property="og:description" content="Scrumptious app" />
    <!-- <meta property="fb:app_id" content="314522715291696" /> -->
    <title>Clique Chat</title>
    <link rel="stylesheet"  href="css/style.css" />
    <script>window.location.hash = '#menu'</script>
    <script src="js/jquery.js"></script>
    <script src="js/mustache.js"></script>
    <script src="js/main.js"></script>
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Facebook JavaScript -->
<div id="fb-root"></div>

<!-- Login page -->
<div data-role="page" id="login" class="type-home">
    <div data-role="content">
        <div id="login-header">
            <img id="facebook-logo" src="images/facebook_logo.jpg" alt="Facebook" />
            <br>
            <span class="tagline">Clique Chat</span>
        </div>
    </div>
    <div class="login-button">
        <div class="fb-login-button" data-show-faces="false" data-width="300" data-max-rows="1" size="large">
        </div>
    </div>
</div>
</div>
<!-- Main menu page -->
<div data-role="page" id="menu" class="type-menu">
    <div data-role="header">
        <div class="ui-bar ui-bar-a">
            <span class="topnav-app">Clique Chat</span>
            <span id="user-identity"></span>
        </div>
    </div><!-- /header -->

    <div data-role="content">
        <!-- menu position helper -->
        <div id="menu-anchor"></div>
        <!-- menu content -->
        <div id="menu" data-role="popup">
            <ul id= "button-list" data-role="listview" data-inset="true">

                <span id="welcome"> Welcome, <%- name %></span>

                <li data-role="startChat"> 
                    <a id="chat-button" href = "/chat" onclick="socket.emit('clicked', $('#chat-button').attr('href'));">Let's Chat</a>
                </li>
                <li data-icon="false"><a id="chat-button" id="logout" href="/logout">Log Out</a></li>
            </ul>
        </div>

        <div id="confirmation"></div>
    </div>
</div>

<script>
var socket = io();
socket.on('connect', function(){
    socket.emit('new person', true); // replace true with friends
});
socket.on('updaterooms', function(temp){
    // manipulate DOM
    // console.log(temp);
    $("#chat-button").attr("href", "/chat/" + temp[0]);
});
</script>
</body>
</html>