<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1">
 -->   
    <meta property="og:title" content="Facebook Anonymous Chat" />
    <meta property="og:type" content="website" />
<!--     <meta property="og:url" content="https://scrumpit.herokuapp.com" />
 -->
 <!--     <meta property="og:image" content="https://scrumpit.herokuapp.com/images/scrumptious_logo_large.png" />
 -->
     <meta property="og:site_name" content="Scrumptious" />

    <meta property="og:description" content="Scrumptious app" />
    <meta property="fb:app_id" content="314522715291696" />
    <title>Anonymous FB Chat</title>
    <!-- <link rel="stylesheet"  href="css/jquery.mobile-1.2.0.css" /> -->
    <link rel="stylesheet"  href="css/style.css" />
    <link rel="stylesheet"  href="css/base.css" />
    <!-- <script src='js/chat.js'></script> -->
    <script>window.location.hash = '#menu'</script>
    <script src="js/jquery.js"></script>
    <!-- <script src="js/jquery.mobile-1.2.0.js"></script> -->
    <script src="js/mustache.js"></script>
    <script src="js/main.js"></script>
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<!-- Facebook JavaScript -->
<div id="fb-root"></div>

<!-- login url https://www.facebook.com/login.php?skip_api_login=1&api_key=130243393813697&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fv1.0%2Fdialog%2Foauth%3Fredirect_uri%3Dhttp%253A%252F%252Flocalhost%253A3000%252Flogin%252Fcallback%26scope%3Duser_about_me%26response_type%3Dcode%26client_id%3D130243393813697%26ret%3Dlogin&cancel_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin%2Fcallback%3Ferror%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%23_%3D_&display=page -->

<!-- Login page -->
<div data-role="page" id="login" class="type-home">
    <div data-role="content">
        <div id="login-header">
            <img id="facebook-logo" src="images/facebook_logo.jpg" alt="Facebook" />
            <br>
            <span class="tagline">Anonymous Chat</span>
        </div>
<!--          <div id="login-intro">
            <p class="intro">To get started, login using Facebook</p>
        </div> -->
    </div>
    <div class="login-button">
        <div class="fb-login-button" data-show-faces="false" data-width="300" data-max-rows="1" size="large">
        </div>
    </div>
</div>
</div>
<!-- Main menu page -->
<div data-role="page" id="menu" class="type-menu">
    <div data-role="header">
        <div class="ui-bar ui-bar-a">
            <span class="topnav-app">Facebook Anonymous Chat</span>
            <span id="user-identity"></span>
            <!-- menu trigger -->
<!--             <a data-icon="arrow-d" data-iconpos="notext" href="#menu" data-rel="popup" data-position-to="#menu-anchor" data-transition="slidedown" data-inline="true" class="ui-btn-right">Menu</a> -->
        </div>
    </div><!-- /header -->

    <div data-role="content">
        <!-- menu position helper -->
        <div id="menu-anchor"></div>
        <!-- menu content -->
        <div id="menu" data-role="popup">
            <ul id= "button-list" data-role="listview" data-inset="true">
                <li data-role="startChat"> 
                    <a id="chat-button" href = "/chat">Let's Chat</a>
                </li>
                <li data-icon="false"><a id="chat-button" id="logout" href="#login">Log Out</a></li>
            </ul>
        </div>

        <div id="confirmation"></div>
        <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
<!--             <li><a href="#friends" onclick="getFriends()"><img src="images/action-people.png" /> <h3>With whom?</h3><p id="select-friends">Select friends</p></a></li>
 -->        </ul>
    </div>
</div>
    <!-- Select friends page -->
<!--     <div data-role="page" id="friends" class="type-menu-drilldown">

        <div data-role="content">
            <div data-role="startChat"> 
                <a class ="ui-btn-hover-f" href = "/chat">Let's Chat</a>
            </div>
            <ul data-role="listview" data-inset="false" data-theme="c" data-filter="true" id="friends-list"></ul>
        </div>
    </div> -->
<script type="x-mustache-template" id="friends_list_tmpl">
    {{#.}}

    <li id="hidden_friends" data-icon="false" data-name="{{ id }}"><a href="#{{name}}" data-transition="slide"><img src="{{ picture.data.url }}"></img>{{ name }}</a></li>
    {{/.}}
</script>
<script>
var socket = io();
socket.on('connect', function(){
    socket.emit('new person', true); // replace true with friends
});
socket.on('updaterooms', function(room){
    // manipulate DOM
    $("#chatroom").attr("href", "/test/" + room);
});
</script>
</body>
</html>